svg#weather_data_visualization {
    background: #222222;
    border: 1px solid #555555;
    border-radius: 2px;
}

/* Line Graph Style Rules */
svg#weather_data_visualization path.line { 
    stroke: #0191c7;
    fill: #0191c7;
    fill-opacity: 0.0;
}

svg#weather_data_visualization path.area {
    stroke-width: 0;
}

svg#weather_data_visualization .axis path,
svg#weather_data_visualization .axis line {
    fill: none;
    stroke: #ffffff;
}

svg#weather_data_visualization .axis text {
    font-size: 10px; 
    font-family: sans-serif;
    stroke: #ffffff;
}

svg#weather_data_visualization .axis text.axis_label {
    font-size: 14px;
    fill: #ffffff;
    text-anchor: middle;
}

/* Control Panel Style Rules */
.panel_background {
    stroke: #ffffff;
    stroke-width: 0.2;
    fill: none;
}
.panel_title {
    text-anchor: start;
    fill: #ffffff;
    font-family: arial;
    font-size: 1.4em;
    font-weight: bold;
}
.panel_title_background {
    fill: #999999;
    fill-opacity: 0.2;
}

#control_panel {
    position: absolute;
    top: 100px;
    left: 25px;
    width: 300px;
    height: 80px;
}
#slide-range {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #999999;
}
.ui-slider-range.ui-widget-header {
    background-color: #0191c7;
}
.ui-slider .ui-slider-handle {
    border-radius: 2px;
}
#date_min, 
#date_max {
    margin: 10px 10px 0px 10px;
    border-bottom: 1px dashed #999999;
    
}
#date_min input,
#date_max input {
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    line-height: normal;
    font-size: 1.1em;
    font-family: arial;
    max-width: 190px;
    float: right;
    margin-right: 15px;
}
#control_panel_heading {
    color: #ffffff;
    margin: 10px 10px;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    font-family: arial;
}
.range_label {
    color: #ffffff;
    margin-left: 5px;
    font-family: arial;
    font-size: 1.1em;
}

/* Nav-bar control styling */
#navbar_background {
    fill: #999999;
    fill-opacity: 0.2;
}

#navbar_title {
    text-anchor: middle;
    fill: #dddddd;
    font-family: arial;
    font-size: 2em;
}

#navbar_left_btn,
#navbar_right_btn {
    fill: #b3b3b3;
    fill-opacity: 0.3;
    stroke: #cccccc;
    stroke-width: 1;
    stroke-opacity: 0.3;
}

#navbar_left_btn:hover,
#navbar_right_btn:hover {
    fill: #0191c7;
    fill-opacity: 0.8;
    stroke: #0191c7;
    stroke-width: 1;
    stroke-opacity: 1;
}

/* Average Display Styling */
.avg_display_label {
    text-anchor: start;
    fill: #ffffff;
    font-family: arial;
    font-size: 1.1em;
}
.avg_display_value {
    text-anchor: start;
    fill: #2ab9ef;
    font-family: arial;
    font-size: 1.1em;
}

/* Tool Tip Style Rules */
.tool_tip_cover {
    fill: none;
    pointer-events: all;
}
.tool_tip_marker {
    fill: #ffffff;
    fill-opacity: 0.2;
    stroke: #ffffff;
}
.tool_tip_label {
    fill: none;
    stroke: #ffffff;
    stroke-width: 1;
    cursor: default;
}

/* Wind Rose Style Rules */
.wind_rose_arc {
    stroke: #0191c7;
    fill: #0191c7;
    fill-opacity: 0.6;
}
#wind_rose_outeraxis,
#wind_rose_inneraxis,
.wind_rose_axis_line {
    stroke: #919191;
    stroke-width: 0.5;
    fill: none;
}

.wind_rose_axis_label {
    text-anchor: middle;
    fill: #919191;
    font-family: arial;
    font-size: 1em;
}